<!DOCTYPE html>
<html>
  <head>
    <title><%= Obelisk.Config.config.name %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css' />
    <%= @css %>
    <%= @js %>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="six columns alpha">
          <h1>
            <a href="/"><%= Obelisk.Config.config.name %></a>
          </h1>
          <h2><%= Obelisk.Config.config.description %></h2>
        </div>
        <div class="six columns omega">

        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="nine columns alpha">
          <%= @content %>
        </div>
        <div class="three columns omega">
          <p class="about">
            <%= Obelisk.Config.config.bio %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
