<div id="post">
  <h3 class="post-title">
    <a href="<%= @filename %>"><%= @frontmatter.title %></a>
  </h3>
  <div class="post-date">
    <%= @frontmatter.created %>
  </div><br />
  <%= @content %>
</div>
